::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 100vw;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  margin: 70px auto auto auto;
  width: 100%;
  padding: 5px;
  height: calc(100vh - 120px);
  background: rgb(45, 1, 63);
}
